.body{
    margin:0px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.navigation_title{
    height:54px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 2;
    background-color: white;
}
.divider_top{
    width:100%;
    height:1px;
    background-color: #E8E8E8;
}

.navigation{
    display:flex;
    height:34px;
    width:1200px;
    color:#448899;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 3;
}

.taipei_title{
    display:flex;
    font: 30px "Noto Sans TC";
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.signin{
    display:flex;
    height: 54px;
    text-align: right;
    align-items:center;
}

.navbtn{
    padding:10px;
    font: 16px "Noto Sans TC";
    font-weight:500;
    line-height:13.3px;
}
.hero_section{
    display:flex;
    width:100%;
    height:320px; 
    position:relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.heroimg{
    width:100%;
    height:320px;
    object-fit:cover;
}

.slogan{
    position: absolute;
    width:1200px;
    flex:auto;
}
.slogan_content{
    width:100%;
    height:78px;
}
.first_slogan{
    width:100%;
    height: 41px;
    font: 28px "Noto Sans TC";
    color: #F8F8F8;
    flex:auto;
}
.second_slogan{
    width:100%;
    height: 22px;
    font: 16px "Noto Sans TC";
    font-weight: 700; 
    color: #F8F8F8;
    flex:auto;
}
.search{
    width: 460px;
    height: 46px;
}
.search_bar{
    width: 100%;
    height: 46px;
}
.searchbar_content{
    width: 100%;
    height: 100%;
    display:flex;
}
.inputfield{
    width:400px;
    height: 46px;
}
.inputname{
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0px;
}
.searchbtn{
    display: flex;
    background-color:#448899;
    width:60px;
    height: 46px;
    justify-content: center;
    align-items: center;
}
.searchimg{
    width:30px;
    height:30px;
}
.main{
    display:flex;
    flex-direction: column;
    width:100%;
    height:auto;
    flex-grow: 1;
    justify-content: center;
}
.bar{
    width:100%;
    display:flex;
    justify-content: center;
}
.list_bar{
    width:1200px;
    display:flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;

}
.left_container{
    display: flex;
    width:47px;
    height:50px;
    align-items: center;
    padding:9px 0px 9px 15px;
}
.leftbtn{
    width:32px;
    height:32px;
}
.container{
    width:1106px;
    height: 70px;
    align-items: center;
    display:flex;
    overflow: hidden;
}
.list_item_container{
    display:flex;
    width: auto;
    height: 24px;
    align-items: center;
    overflow: hidden;   
    gap:30px; 

}
.list_item{
    width: auto;
    white-space: nowrap;
    height: 24px;
    font: 16px "Noto Sans TC";
    font-weight: 500;
    text-align: center;
}
.right_container{
    width: 47px;
    height: 50px;
    display: flex;
    align-items: center;
    padding:9px 15px 9px 0px;
}
.rightbtn{
    width:32px;
    height:32px;
}

.attractions{
    display:flex;
    width: 100%;
    min-height: 816px;
    height:auto;
    justify-content: center;
}

.attractions_group{
    width: 1200px;
    min-height: 786px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
.attraction{
    position: relative; /*設定相對定位*/
    flex: none;
    display: flex;
    width: 22.5%;
    height: 242px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
}
.detail1{
    display:flex;
    position: absolute; /*設定相對定位*/
    width: 100%;
    height:45px;
    bottom: 0px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.mrt_detail{
    display:flex;
    width: 80%;
    height: 25px;
    justify-content:space-between;
}

.detail2{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom:45px;
}
.attraction_name{
    position: relative;
    display:flex;
    width: 100%;
    height: 40px;
    font:16px "Noto Sans TC";
    font-weight: 700;
    line-height:13.3px;
    color:white;
    align-items: center;
    z-index: 1;
    left:20px;
}
.rectangle{
    position: absolute; /*設定相對定位*/
    width: 100%;
    height: 40px;
    opacity: 60%;
    background-color: #000000;
    bottom:0px;
}
.mrt_image{
    width:100%;
    height:100%;
    object-fit:cover;
}
.footer{
    display:flex;
    width: 100%;
    height: 104px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.copyright{
    width: 234px;
    height: 24px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    text-align: center;
    color:#FFFFFF;
}

.divider{
    height:1px;
    width:1200px;
    background-color: #E8E8E8;
    margin-bottom: 40px;
    border:0px;
}
.attraction_section{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.section{
    width:1200px;
    height: 400px;
    display:flex;
    margin-bottom: 40px;
    margin-top:40px;

}
.pic_left_btn{
    z-index: 300;
    width: 36px;
    height: 36px;
    position: absolute;
    left:10px;

}
.pic_right_btn{
    z-index: 300;
    width: 36px;
    height: 36px;
    position: absolute;
    left:494px;
}
.pic_circle_btn{
    width:540px;
    height:12px;
}
.picture_current{
    position: relative;
    width:540px;
    height: 400px;
}

.changebtn{
    display:flex;
    align-items: center;
    position:absolute;
    top:182px;
    width:100%;
    height: 36px;
}
.current_pic_container{
    display:flex;
    position:absolute;
    overflow: hidden;
    width:540px;
    height:100%;
    bottom:1px;
}

.current_pic{
    min-width:100% !important;
    object-fit: cover;
    object-position: center;
}

.pic_circle_btn{
    position: relative;
    top: 378px;
    width:540px;
    display:flex;
    justify-content: center;
}
.profile{
    width:600px;
    height:400px;
    margin-left: 30px;
}
.attraction_title{
    width:600px;
    height:33px;
    font: 24px "Noto Sans TC";
    color: #666666;
    font-weight: 700;
    margin-bottom:15px;
}
.attraction_location{
    width:600px;
    height: 22px;
    font: 16px "Noto Sans TC";
    color: #666666;
    font-weight: 400;
    margin-bottom:15px;
}
.booking_form{
    padding-top: 15px;
    padding-left: 20px;
    width:600px;
    height: 302px;
    background-color:#E8E8E8;
}
.booking_text{
    display:flex;
    margin-bottom:15px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    width:560px;
    height: 22px;
    color: #666666;
}
.booking_description{
    width:560px;
    height:24px;
    margin-bottom:15px;
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color: #666666;
}
.select_date_text{
    width:81px;
    height: 17px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #666666;
}
.select_date_input{
    width: 193px;
    height: 35px;
    border: none;
}
.field_date{
    display:flex;
    width: 560px;
    height: 35px;
    align-items: center;
    margin-bottom:15px;

}
.field_time{
    display:flex;
    width: 560px;
    height: 22px;
    margin-bottom:15px;
}
.field_price{
    width:560px;
    height: 22px;
    display: flex;
    margin-bottom:15px;
}
.select_time_text{
    width: 81px;
    height: 17px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #666666;
}
.guide_fee{
    width: 81px;
    height: 22px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #666666;
}
.guide_price{
    width: 108px;
    height: 14px;
    font-weight: 500;
    font: 16px "Noto Sans TC";
    color: #666666;
}
.booking_button{
    background-color: #448899;
    display:flex;
    width: 154px;
    height: 36px;
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font: 19px "Noto Sans TC";
    font-weight: 400;
}

.seperate{
    width:1200px;
}

.infors{
    width: 1200px;
    padding: 10px;
}
.info_description{
    width: 1180px;
    height: auto;
    font: 16px "Noto Sans TC";
    font-weight: 400;
    color: #666666;
    margin-bottom:20px;
}
.info_address{
    width:1180px;
    height: 32px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #666666;
    display:flex;
    align-items: center;
}
.address_detail{
    width: 1180px;
    height: 24px;
    font: 16px "Noto Sans TC";
    font-weight: 400;
    color: #666666;
    display:flex;
    align-items: center;
    margin-bottom:20px;
}

.info_direction{
    width:1180px;
    height: 32px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #666666;
}
.direction_detail{
    width:1180px;
    height: auto;
    font: 16px "Noto Sans TC";
    font-weight: 400;
    color: #666666;

}

.attfooter{
    display:flex;
    width: 100%;
    height: 104px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.circle_pic{
    margin-right: 3px;
    margin-left: 3px;
    z-index: 2;
}

.circle_pic_black{
    z-index: 1;
    right:15px;
    position:relative;
}

/* 調整RADIO外觀 */

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
}

input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px; 
    height: 18px; 
    border: 2px solid white; 
    border-radius: 50%; 
    background-color: white;
}

input[type="radio"]:checked + label:before {
    background-color: #448899; 
}
.label_afternoon{
    margin-left: 10px;
    color: #666666;
    font: 16px "Noto Sans TC";
    font-weight: 500;
}
.label_day{
    margin-left: 10px;
    color: #666666;
    font: 16px "Noto Sans TC";
    font-weight: 500;
}
.signup_block{
    width:100%;
    display:flex;
    justify-content: center;
    position:absolute;
    top:80px;
    display:none;

     /* 先把註冊表單隱藏起來 */
}
.login_block{
    width:100%;
    display:flex;
    justify-content: center;
    position:absolute;
    top:80px;
     /* 先把登入表單隱藏起來 */
    display:none;
}


.deco_bar{
    width:340px;
    height: 10px;
    background-image:linear-gradient(to right,#66AABB,#337788);
}
.signup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:340px;
    height: 332px;
    position:absolute;
    background-color: white;
    z-index:350;
}
.login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:340px;
    height: 275px;
    position:absolute;
    background-color: white;
    z-index:350;
}
.signup_text{
    text-align: center;
    width:310px;
    height: 27px;
    margin-top: 7px;
    font: 24px "Noto Sans TC";
    color: #666666;
    font-weight: 700;
}
.login_text{
    text-align: center;
    width:310px;
    height: 27px;
    margin-top: 7px;
    font: 24px "Noto Sans TC";
    color: #666666;
    font-weight: 700;
}
.close_button{
    position:absolute;
    width:30px;
    height: 30px;
    left:300px;
    top:10px;
}
.register_input{
    width:310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    margin-top:10px;
}
.login_input{
    width:310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    margin-top:10px;
}
.register_input::placeholder{
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color:#757575;
    top:15px;
    left:15px;
}
.submit_btn{
    width:310px;
    height: 47px;
    margin-top:10px;
    font: 19px "Noto Sans TC";
    border-radius: 5px;
    border: none;
    background-color: #448899;
    color:white;
    text-align: center;
}
.login_link{
    width:310px;
    height:22px;
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color: #666666;
}
.signup_link{
    width:310px;
    height:22px;
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color: #666666;
}

/* 設定日期ICON的樣式 */
input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 24px;  /*文字大小，根據需要調整數值 */
}

/* 設定日期顯示區域的樣式 */
input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    padding-left: 10px;
    padding-top: 5px;
}

.loadmore{
    height:10px;
}

/*BOOKING PAGE*/
.booking_main{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.headline_container{
    width:100%;
    display:flex;
    justify-content: center;
}
.headline{
    width:1000px;
    height:27px;
    font: 19px "Noto Sans TC";
    font-weight: 700;
    color: #666666;
    margin-top: 40px;
    margin-bottom: 30px;
}
.contact_form{
    width:980px;
    height: 227px;
    margin-bottom: 40px;
}
.contact_title{
    font: 19px "Noto Sans TC";
    font-weight: 700;
    color: #666666;    
    height: 24px;
}
.contact_field{
    margin-top: 15px;
}
.contact_notice{
    margin-top:15px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #666666;  
}
.contact_text{
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color: #666666;   
}
.contact_content{
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    width: 200px;
    height: 38px;
    gap:4px;
}
.booking_container{
    width:100%;
    display:flex;
    justify-content: center;
}
.payment{
    width:980px;
    height: 227px;
    margin-bottom: 40px;
}
.confirm_container{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.confirm{
    display:flex;
    flex-direction: column;
    width: 980px;
    height: 100px;
    align-self: center;
    margin-bottom: 40px;
}
.confirm_text{
    width: 174px;
    height: 20px;
    margin-bottom: 42px;
    align-self: flex-end;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #666666;
    text-align:end;
}
.confirm_btn{
    display:flex;
    width:173px;
    height: 36px;
    background-color: #448899;
    color: white;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
.section_pic{
    width:250px;
    height:200px;
}
.delete_btn{
    width: 30px;
    height: 30px;
    position:relative;
    left:950px;
}
.section_title{
    width: 700px;
    height: 24px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #448899;
}
.bookingsection_container{
    width:100%;
    display:flex;
    justify-content: center;
}
.booking_section{
    display:flex;
    width:980px;
    margin-bottom: 40px;
    position: relative;
    right:30px;
}
.section_info{
    width:700px;
    height: 170px;
    margin-left: 30px;
}
.section_name{
    width:700px;
    height: 24px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section_content{
    font-weight: 500;
}
.noschedule_container{
    width:100%;
    display:flex;
    justify-content: center;
}
.no_schedule{
    width: 1000px;
    height: 24px;
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color: #666666;   
    margin-bottom:40px; 
}
.noschedule_attfooter{
    display:flex;
    width: 100%;
    height: 865px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.noschedule_copyright{
    width: 234px;
    height: 24px;
    font: 16px "Noto Sans TC";
    font-weight: 700;
    color:#FFFFFF;
    position: relative;
    bottom:380px;
}
@media(max-width:1200px){
    .navigation{
        width:100%;
    }
    .slogan{
        width: 320px;
        height: 149px;
        padding:0px;
        }
    .search{
        width:360px;
    }
    .list_bar{
        width:360px;
    }
    .attractions_group{
        width:90%;
    }
    .attraction{
        width:30%;
    }
    .section{
        width:100%;
        height:auto;
        display:flex;
        flex:auto;
        flex-wrap: wrap;
        justify-content: center;
        margin-top:0px;
    }
    .picture_current{
        width:100%;
    }
    .pic_circle_btn{
        width:100%;
    }
    .pic_left_btn{
        left: 10px;
    }
    .pic_right_btn{
        left: 90%;
    }
    .current_pic_container{
        width:100%;
    }
    .current_pic{
        width:100%;
        
    }
    .profile{
        width:360px;
        height:auto;
        display:flex;
        flex-direction: column;
        flex-wrap:auto;
        margin: 0px;
    }
    .attraction_title{
        width:100%;
    }
    .attraction_location{
        width:100%;
    }
    .booking_form{
        width:340px;
    }
    .booking_text{
        width:100%;
    }
    .booking_description{
        width:100%;
    }
    .field_date{
        width:100%;
    }
    .field_time{
        width:100%;
    }
    .field_price{
        width:100%;
    }
    .divider{
        width:100%;
    }
    .info_description{
        width:340px;
        height: auto;
        display:flex;
        flex-wrap: wrap;
        text-align: start;
    }
    .infors{
        width:340px;
        height: auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .info_address{
        width:340px;
    }
    .address_detail{
        width:340px;
    }
    .info_direction{
        width:340px;
    }
    .direction_detail{
        width:340px;
    }
    .headline{
        width:360px;
    }
    .booking_section{
        flex-direction: column;;
        flex-wrap: wrap;
        right:0px;
    }
    .delete_btn{
        position: relative;
        top:381px;
        left:0px;
    }
    .section_pic{
        width:340px;
        height:200px;
        object-fit: cover;
        position: relative;
    }
    .section_info{
        width:340px;
        height:200px;
        margin-left: 0px;
        position: relative;
    }
    .section_title{
        width:100%;
    }
    .section_name{
        width:100%;
    }
    .contact_form{
        width:340px;
        height:256px;
    }
    .payment{
        width:340px;
        height:256px;
    }
    .confirm{
        width:340px;

    }


}
@media(max-width:360px){
    .navigation_title{
        width:100%;
        height:54px;
    }
    .navigation{
        width:100%;
        height:54px;
    }
    .taipei_title{
        margin-left: 10px;
        width:150px;
        height:34px;
    }
    .signin{
        width: 175px;
        height: 34px;
        margin-right: 0px;
    }
    .navbtn{
        font: 10px "Noto Sans TC";
        height:14px;
    }
    .hero_section{
        height:320px;
        width:100%;
    }
    .heroimg{
        width:100%;
        height:100%;
    }
    .slogan{
        width: 320px;
        height: 149px;
        padding:0px;
    }
    .slogan_content{
        width: 320px;        
    }
    .first_slogan{
        width:320px;
    }
    .second_slogan{
        width: 320px;
        height:22px;
    }
    .inputfield{
        width: 285px;
        height: 46px; 
    }
    .inputname{
        width: 285px;
        height: 46px;
    }
    .search{
        width: 285px;
    }
    .search_bar{
        width: 285px;
    }
    .inputfield{
        width:100%;
    }
    .searchbar_content{
        width: 285px;
        height: 46px;
    }
    .searchbtn{
        width: 60px;
        height: 46px;
    }
    .inputname{
        width:100%;
    }
    .main{
        width: 100%;
        height: auto;
        justify-content: flex-start;
    }
    .list_bar{
        height: 70px;
        width: 100%;
    }
    .attractions{
        min-height: 605px;
        width: 98%;
    }
    .attractions_group{
        min-height: 605px;
        height: auto;
        width: 100%;
    }
    .attraction{
        margin: 15px;
        width:322px;
        height: 280px;

    }
    .detail1{
        width:100%;
    }
    .detail2{
        width:322px;
        height:40px;
        bottom: 45px;
    }
    .attraction_name{
        width: 302px;
        height: 20px;
        top:10px;
    }
    .mrt_image{
        width:322px;
        height:280px;
    }
    .rectangle{
        width:100%;
    }
    .mrt_detail{
        width:301px;
    }
    .footer{
        display:none;
    }
    /*attraction頁面*/
    .divider{
        margin: 0px;
    }
    .picture_current{
        height: 350px;
    }
    .current_pic_container{
        height: 350px;
    }
    .current_pic{
        height: 350px;
    }
    .pic_circle_btn{
        top:330px;
        right:30px;
    }
    .attraction_title{
        margin-top:20px;
    }
    .profile{
        width:340px;
    }
    .infors{
        margin-top:40px;
    }
    .pic_right_btn{
        left:314px;
    }
    .section{
        height:auto;
    }
    .attfooter{
        margin-top:40px;
    }
    .confirm{
        margin-top: 40px;
    }
    .delete_btn{
        left:310px;
        z-index: 5;
    }
    .section_info{
        margin-top: 30px;
        margin-left: 10px;
    }
    .section_pic{
        margin-left: 10px;
    }
    .section_name{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .contact_title{
        margin-top: 40px;
    }
    .divider{
        margin-top: 40px;
    }
    .contact_form{
        margin-left: 10px;
    }
    .payment{
        margin-left: 10px;
    }

}