<!DOCTYPE html> <!--文件型態-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>網頁標題</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <meta charset="utf-8">
</head>
<body class="body">
    <div class="navigation_title">
        <div class="navigation">
            <a  href="/" class="taipei_title">台北一日遊</a>
            <div class="signin">
                <div class="navbtn">預定行程</div>
                <div class="navbtn" id="logstatus" onclick="sign_in()">登入/註冊</div>
            </div>
        </div>
    </div>
    <div class="hero_section">
        <img src="./static/welcome.png" class="heroimg"/>
        <div class="slogan">
            <div class="slogan_content">
                <div class="first_slogan">輕鬆享受台北一日悠閒</div>
                <div class="second_slogan">探索每個角落，體驗城市的深度旅遊行程</div>
            </div>
            <div class="search"> 
                <div class="search_bar">
                    <div class="searchbar_content">
                        <div class="inputfield">
                            <input class="inputname" placeholder="   輸入景點名稱查詢"></input>
                        </div>
                        <div class="searchbtn" onmouseover="style.opacity=0.7" onmouseout="style.opacity=1">
                            <img src="./static/searchbtn.png" class="searchimg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="bar">
        <div class="list_bar">
            <div class="left_container">
                <img src="./static/leftbtn.jpg" class="leftbtn" onmouseover="style.opacity=0.7" onmouseout="style.opacity=1"/>
            </div>
            <div class="container">
                <div class="list_item_container">
                    <!--<div class="list_item">劍潭</div>-->
                </div>
            </div>
            <div class="right_container">
                <img src="./static/rightbtn.jpg" class="rightbtn" onmouseover="style.opacity=0.7" onmouseout="style.opacity=1"/>
            </div>
        </div>
        </div>
        <div class="attractions">
            <div class="attractions_group">
                <!--               

                <div class="attraction">
                    <div class="detail1">
                        <div class="mrt_detail">
                            <div class="mrt_name">忠孝復興</div>
                            <div class="attraction_cat">公共藝術</div>
                        </div>
                    </div>
                    <div class="detail2">
                        <div class="attraction_name">平安鐘</div>
                        <div class="rectangle"></div>
                    </div>
                    <img src="./static/welcome.png" class="mrt_image">
                    
                </div>
                          -->
            </div>
        </div>
    </div>
    <div class="footer">
            <div class="copyright">COPYRIGHT@2021台北一日遊</div>
    </div>
    <div class="loadmore"></div>

    <!--註冊帳號的表單-->
    <div class="signup_block">
        <form class="signup">
            <div class="deco_bar"></div>
            <div class="signup_text">註冊會員帳號</div>
            <img src="../static/close.png" class="close_button" onclick="close_form()"></img>
            <input class="register_input" name="name" placeholder="輸入姓名"></input>
            <input class="register_input" name="email" placeholder="輸入電子郵件"></input>
            <input class="register_input" name="password" placeholder="輸入密碼" type="password"></input>
            <input class="submit_btn" onclick="register_user()" value="註冊新帳戶"></input>
            <div class="signup_link"><span id="have_account">已經有帳戶了？</span><span onclick="sign_in()">點此登入</span></div>
        </form>
    </div>
        
    <!--登入會員的表單-->
    <div class="login_block">
        <div class="login">
            <div class="deco_bar"></div>
            <div class="login_text">登入會員帳號</div>
            <img src="../static/close.png" class="close_button" onclick="close_form()"></img>
            <input class="login_input" placeholder="輸入電子信箱"></input>
            <input class="login_input" placeholder="輸入密碼" type="password"></input>
            <input class="submit_btn" onclick="login()" value="登入帳戶"></input>
            <div class="login_link">還沒有帳戶？<span onclick="register()">點此註冊</span></div>
        </div>
    </div>

    <script src="{{url_for('static', filename='login.js') }}"></script>
    <script>
    let nextpage=1 //一開始nextpage是1
    function get_attraction(page_num, keyword){
        if (nextpage == null){
        observer.unobserve(footElement);
        console.log("stop load more");}
        //觸發fetch請求來取得api/attractions
        let url = '/api/attractions?page='+page_num;
        if(keyword){
            url += '&keyword=' + keyword;
            };
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                let attractionsGroup = document.querySelector('.attractions_group');
                if (data.nextPage!=null){
                    nextpage=data.nextPage;
                }
                else{
                    console.log("next page data is empty");
                    nextpage=null;
                    return;}
                data.data.forEach(attraction => {
                    let attractionElement = document.createElement('div');
                    attractionElement.classList.add('attraction');
                    attractionElement.onclick=function(){
                        //HTML DOM處理跳轉功能
                        window.location.href = `/attraction/${attraction.id}`;
                    };
                    attractionElement.innerHTML = `
                        <div class="detail1">
                            <div class="mrt_detail">
                                <div class="mrt_name">${attraction.mrt}</div>
                                <div class="attraction_cat">${attraction.category}</div>
                            </div>
                        </div>
                        <div class="detail2">
                            <div class="attraction_name">${attraction.name}</div>
                            <div class="rectangle"></div>
                        </div>
                        <img src="${attraction.images[0]}" class="mrt_image">
                    `;
                    attractionsGroup.appendChild(attractionElement);
                });
                observer.observe(footElement);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });}


    function get_mrt(){
        fetch('api/mrts')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data=>{
                let mrtList = data.data;
                let attractionsGroup = document.querySelector('.list_item_container');
                mrtList.forEach(mrt=>{
                    let mrtElement = document.createElement('div');
                    mrtElement.classList.add('list_item');
                    mrtElement.textContent = mrt;
                    attractionsGroup.appendChild(mrtElement);
                });

                //頁面fetch完之後再加入監聽器
                //控制監聽器，點擊捷運站名稱輸入到搜尋列表的功能
                let listitems = document.querySelectorAll(".list_item");
                listitems.forEach((listitem)=>
                    listitem.addEventListener("click", (event)=>{
                let clicked_item = event.target;
                if(clicked_item.classList.contains("list_item")){
                    let itemtext = clicked_item.textContent;
                    let input_text=document.querySelector(".inputname");
                    //把被點擊的捷運站名字丟進去輸入景點名稱查詢
                    input_text.value=itemtext;
                    search_attraction(0,input_text.value);
                }
                }));
            })
            .catch(error=>{
                console.error("something wrong")
            })
            
            //加載完捷運站名字後，監聽滾動按鈕
            let left_btn = document.querySelector(".leftbtn");
            let right_btn = document.querySelector(".rightbtn");
            let list_container = document.querySelector(".list_item_container");

            let scrollamount = 400;

            left_btn.addEventListener("click",()=>{
                list_container.scrollLeft -= scrollamount;
            });

            right_btn.addEventListener("click",()=>{
                list_container.scrollLeft += scrollamount;
            });




            }
    
    
    function search_attraction(searchpage, keyword){
        let page=parseInt(searchpage,10);
        let url = '/api/attractions?page='+page;
        if(keyword){
            url += '&keyword=' + keyword;
        }
        observer.unobserve(footElement);
        fetch(url)
        .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
        .then(
            data =>{
                let attractionsGroup = document.querySelector(".attractions_group");
                attractionsGroup.textContent="";

                if (nextpage!=""){
                    nextpage=data.nextPage;
                }
                else{return;}

                observer.unobserve(footElement);
                if (data.data.length===0){
                    let nodata= document.createElement('div');
                    nodata.classList.add('attraction');
                    nodata.textContent="沒有景點資訊結果";
                    attractionsGroup.appendChild(nodata);
                } else{
                data.data.forEach(attraction => {
                let attractionElement = document.createElement('div');
                attractionElement.classList.add('attraction');
                attractionElement.onclick=function(){
                        //HTML DOM處理跳轉功能
                        window.location.href = `/attraction/${attraction.id}`;
                    };
                attractionElement.innerHTML = `
                    <div class="detail1">
                        <div class="mrt_detail">
                            <div class="mrt_name">${attraction.mrt}</div>
                            <div class="attraction_cat">${attraction.category}</div>
                        </div>
                    </div>
                    <div class="detail2">
                        <div class="attraction_name">${attraction.name}</div>
                        <div class="rectangle"></div>
                    </div>
                    <img src="${attraction.images[0]}" class="mrt_image">
                `;
                attractionsGroup.appendChild(attractionElement);
                });}
                observer.observe(footElement);
            })
            .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });}
    





    let firstload=true;
   //載入attraction資訊
   window.onload =  function () {
       if(firstload){
        get_attraction(0);
        setTimeout(function () {
            get_mrt();
            }, 500);} // time.sleep 0.01 seconds
        firstload=false;
        checkstatus();
    };

    //自動載入下一頁的資訊
    let footElement = document.querySelector('.loadmore');
    let option={
        root: null,
        rootMargin: "0px",
        threshold: 0.1,
    };
    let observer = new IntersectionObserver((entries)=>{
        entries.forEach((entry)=>{
            if(entry.isIntersecting){
                observer.unobserve(footElement);
                let input_name=document.querySelector(".inputname");
                let keyword = input_name.value;
                get_attraction(nextpage, keyword);
        }
    });
    }, option);


    //如果搜尋按鈕被點擊，就要去搜尋關鍵字
    let searchbtn = document.querySelector(".searchbtn");
    searchbtn.addEventListener("click",(event)=>{
        let keyword=document.querySelector(".inputname");
        nextpage=1;
        search_attraction(0,keyword.value);
        observer.observe(footElement);
    })
    
    </script>
</body>
</html>